body{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align:center;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: calc(1vw);
  background-color: #f4f4f4;
}
  
a{
  color:#000000;
  text-decoration: none;
}

.flex-container{
  display: flex;
  flex-direction:row;

}

.flex-item{
  width: 50%;  
}

.navigation{
  list-style-type:none;
  padding:0;
  background-color:#ffff;
  padding-bottom:1vw;
  padding-top:1vw;
  padding-left: 32vw;
  color:#000000;
  border-color:#4f6655;
  border-radius: 3vw;
  position: sticky;
  top: 0;
}

.navigation li{
  display:inline;
  padding-left:3vw;
  padding-right:3vw;
  font-family: "Verdana", serif;
  position: sticky;
  top: 0;
}
  
  header h1{
  background-color:#000000;
  color:#F4F4F4;
  padding-top:6vw;
  padding-bottom:6vw;
  font-size: calc(5vw);
  border-radius: 3vw;
  }