body{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align:center;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: calc(1vw);
  background-color: #f4f4f4;
}

.flex-container{
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  margin-top: 1vw;
  margin-bottom: 1vw;
  justify-content: center;

}
.flex-container1{
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  margin-top: 1vw;
  margin-bottom: 1vw;
  justify-content: right;

}

.flex-item{
margin-left:0.5vw;
margin-right:0.5vw;
}

a{
  color:#000000;
  text-decoration: none;
}

div{
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  
}

img{
  width: 15vw;
}

.navigation{
  list-style-type:none;
  padding:0;
  background-color:#ffff;
  padding-bottom:1vw;
  padding-top:1vw;
  padding-left: 33vw;
  color:#000000;
  border-color:#4f6655;
  border-radius: 1vw;
}

.navigation li{
  display:inline;
  padding-left:3vw;
  padding-right:3vw;
}

  header h1{
  background-color:#F4F4F4;
  color:#f4f4f4;
  padding-top:6vw;
  padding-bottom:6vw;
  font-size: calc(5vw);
  border-radius: 3vw;
  background-image: url(https://i.pinimg.com/1200x/4b/c2/9b/4bc29b811f337a6b8186485baa3e6a66.jpg);
  }

h2{
 text-align: left;
}




footer{
  background-color: #000000;
  color: #f4f4f4;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 3vw;
}