body{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align:center;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: calc(1vw);
}

.flex-container{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

a{
  color:#ffff;
  text-decoration: none
}

div{
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  
}

.navigation{
  list-style-type:none;
  padding:0;
  background-color:#B52121;
  padding-bottom:1vw;
  padding-top:1vw;
  color:#ffff;
  border-color:#4f6655;
}

.navigation li{
  display:inline;
  padding-left:4.1vw;
  padding-right:4.1vw;
}

  header h1{
  background-color:#F4F4F4;
  color:#B52121;
  padding-top:6vw;
  padding-bottom:6vw;
  font-size: calc(5vw);
  background-image: url(https://i.pinimg.com/1200x/4b/c2/9b/4bc29b811f337a6b8186485baa3e6a66.jpg);
  }

.cheugyimg{
  width:24%;
}

#clean-mockup{
  width: 51%;
}