body{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align:center;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: calc(1vw);
}
  
a{
  color:#ffff;
  text-decoration: none
}

.flex-container{
  display: flex;
  flex-direction:row;
}

.flex-item{
  width: 50%;
  
}
.navigation{
  list-style-type:none;
  padding:0;
  background-color:#B52121;
  padding-bottom:1vw;
  padding-top:1vw;
  color:#ffff;
  border-color:#4f6655;
}

.navigation li{
  display:inline;
  padding-left:4.1vw;
  padding-right:4.1vw;
  font-family: "Verdana", serif;
}
  
  header h1{
  background-color:#F4F4F4;
  color:#B52121;
  padding-top:9vw;
  padding-bottom:9vw;
  font-size: calc(5vw);
  }

#headerimg {
  margin-left: 1vw;
  margin-right:1vw;
  width: 90%;
  border-radius: 2vw;
}

#intro {
  text-align: left;
  margin-left: 4vw;
  margin-right: 6vw;
  font-family: "Verdana", serif;
  font-size: calc(2vw);
  color:#B52121;
 
}