body{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align:center;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: calc(1vw);
}
  
a{
  color:#B52121;
  text-decoration: none;
}

.flex-container{
  display: flex;
  flex-direction:row;
}

.flex-item{
  width: 50%;
  
}
.navigation{
  list-style-type:none;
  padding:0;
  background-color:#ffff;
  padding-bottom:1vw;
  padding-top:1vw;
  padding-left: 32vw;
  color:#B52121;
  border-color:#4f6655;
}

.navigation li{
  display:inline;
  padding-left:3vw;
  padding-right:3vw;
  font-family: "Verdana", serif;
}
  
  header h1{
  background-color:#B52121;
  color:#F4F4F4;
  padding-top:9vw;
  padding-bottom:9vw;
  font-size: calc(5vw);
  border-radius: 3vw;
  }

#headerimg {
  margin-left: 1vw;
  margin-right:1vw;
  width: 80%;
  border-radius: 2vw;
}

#intro {
  text-align: left;
  margin-left: 4vw;
  margin-right: 6vw;
  padding-left:1vw;
  padding-right:1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 2vw;
  font-family: "Verdana", serif;
  font-size: calc(1.5vw);
  color:#B52121;
  background-color:#ffffff;
  border-style: inset;
  border-color:#B52121;
 
}

#introdiv{
  align-self: center;
}

footer{
  background-color: #B52121;
  color: #f4f4f4;
  margin-top: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 3vw;
}