body{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align:center;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: calc(1vw);
  background-color: #f4f4f4;
}
  
a{
  color:#3d5591;
  text-decoration: none;
}

.flex-container{
  display: flex;
  flex-direction:row;
}

.flex-item{
  width: 50%;  
}
.navigation{
  list-style-type:none;
  padding:0;
  background-color:#ffff;
  padding-bottom:1vw;
  padding-top:1vw;
  padding-left: 32vw;
  color:#3d5591;
  border-color:#3d5591;
  position: sticky;
  top: 0;
}

.navigation li{
  display:inline;
  padding-left:3vw;
  padding-right:3vw;
  font-family: "Verdana", serif;
  position: sticky;
  top: 0;
}
  
  header h1{
  background-color:#3d5591;
  color:#F4F4F4;
  padding-top:5vw;
  padding-bottom:5vw;
  font-size: calc(10vw);
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; 
  font-weight: lighter;
  font-style: italic;
  }

.intro{
  text-align:left;
  font-size: calc(1.5vw);
  padding-right: 5vw;
}
#hi{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: calc(6vw);
  margin-top: 0vw;
  margin-bottom: 0vw;
}

 
#photome{
  width: 80%;
  display: flex;
  align-items: center;
}

#myphoto{
  display: flex;
  align-items: center;
}

footer{
  background-color: #3d5591;
  color: #F4F4F4;
  margin-top: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "Verdana", serif;
  text-align: left;
}

#creditlink{
  text-align: right;
  padding-top: 1vw;
}

.footerlink{
  color: #f4f4f4;
}

.flex-container2{
  display: flex;
  flex-direction:row;
}

.flex-item2{
  width: 50%;  
}