body{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align:center;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: calc(1vw);
  background-color: #f4f4f4;
}
  
a{
  color:#000000;
  text-decoration: none;
}

.flex-container{
  display: flex;
  flex-direction:row;
}

.flex-item{
  width: 50%;  
}
.navigation{
  list-style-type:none;
  padding:0;
  background-color:#ffff;
  padding-bottom:1vw;
  padding-top:1vw;
  padding-left: 32vw;
  color:#000000;
  border-color:#4f6655;
  border-radius: 3vw;
  position: sticky;
  top: 0;
}

.navigation li{
  display:inline;
  padding-left:3vw;
  padding-right:3vw;
  font-family: "Verdana", serif;
  position: sticky;
  top: 0;
}
  
  header h1{
  background-color:#000000;
  color:#F4F4F4;
  padding-top:6vw;
  padding-bottom:6vw;
  font-size: calc(5vw);
  border-radius: 10vw;
  }

.intro{
  text-align:left;
  font-size: calc(1.1vw);
  padding-right: 5vw;
}
#hi{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: calc(6vw);
  margin-top: 0vw;
  margin-bottom: 0vw;
}
 
#photome{
  border-radius: 10vw;
  width: 60%;
}

footer{
  background-color: #000000;
  color: #f4f4f4;
  margin-top: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "Verdana", serif;
  text-align: left;
}

#creditlink{
  text-align: right;
  padding-top: 1vw;
}

.footerlink{
  color: #f4f4f4;
}

.flex-container2{
  display: flex;
  flex-direction:row;
}

.flex-item2{
  width: 50%;  
}