body{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align:center;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: calc(1vw);
  background-color: #f4f4f4;
}

.flex-container{
  display: flex;
  flex-direction:row;
  justify-content: center;
}

.flex-item{
margin-left: 0.5vw;
margin-right: 0.5vw;
}

a{
  color:#000000;
  text-decoration: none;
}

div{
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  
}

.navigation{
  list-style-type:none;
  padding:0;
  background-color:#ffff;
  padding-bottom:1vw;
  padding-top:1vw;
  padding-left: 32vw;
  color:#000000;
  border-color:#4f6655;
  border-radius: 3vw;
  position: sticky;
  top: 0;
}

.navigation li{
  display:inline;
  padding-left:3vw;
  padding-right:3vw;
  font-family: "Verdana", serif;
  position: sticky;
  top: 0;
}

  header h1{
  background-color:#F4F4F4;
  color:#f4f4f4;
  padding-top:6vw;
  padding-bottom:6vw;
  font-size: calc(5vw);
  border-radius: 10vw;
  background-image: url(https://i.ibb.co/ZzvWhfQk/IMG-8777-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 5% 50%;
  }
#title{
  font-size: calc(3vw);
margin-bottom: -0.5vw;
}

#hlake{
width: 60vw;
}

.tworow1{
  width: 60vw;
}

.k-row1{
  width:29vw;
}

.tworow2{
  width: 29vw;
}



h2{
 text-align: left;
}

img{
  border-radius: 1vw;
}

footer{
  background-color: #000000;
  color: #f4f4f4;
  margin-top: 2vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
  border-radius: 3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "Verdana", serif;
  text-align: left;
}

#creditlink{
  text-align: right;
  padding-top: 1.5vw;
}

.footerlink{
  color: #f4f4f4;
}

.flex-container2{
  display: flex;
  flex-direction:row;
}

.flex-item2{
  width: 50%;  
}
