body{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align:center;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: calc(1vw);
  background-color: #f4f4f4;
}

.flex-container{
  display: flex;
  flex-direction:row;
}

.flex-item{

}

a{
  color:#000000;
  text-decoration: none;
}

div{
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  
}

.navigation{
  list-style-type:none;
  padding:0;
  background-color:#ffff;
  padding-bottom:1vw;
  padding-top:1vw;
  padding-left:33vw;
  color:#000000;
  border-color:#4f6655;
  border-radius: 3vw;
}

.navigation li{
  display:inline;
  padding-left:3vw;
  padding-right:3vw;
}

  header h1{
  background-color:#F4F4F4;
  color:#f4f4f4;
  padding-top:6vw;
  padding-bottom:6vw;
  font-size: calc(5vw);
  border-radius: 3vw;
  background-image: url(https://i.pinimg.com/736x/0f/1d/d8/0f1dd827a82ffb3b3ce77fdbe54395f9.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 10% 40%;
  }


footer{
  background-color: #000000;
  color: #f4f4f4;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 3vw;
}